<!DOCTYPE html>
<html lang="es">

<head>
  <title>GarnachApp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 welcome">
                <div class="welcome-text">
                    <h1>¡BIENVENIDX A GARNACHAPP!</h1>
                    <p>Encuentra tu garnacha ideal</p>
                </div>
            </div>
           <div class="login-form col-sm-12 col-md-6 col-lg-6">
                <form>
                    <span class="login-title">
                        GARNACHAPP
                    </span>
                  <div class="input-box">
                    <input id="email-field" class="input" type="text" placeholder="Correo">
                  </div>
                    <div class="btn-box">
                        <button id="reset-password-button" class="btn btn-warning">
                            RECUPERA TU CONTRASEÑA
                        </button>
                    </div>
                </form>
          </div>
          <footer class="modal-footer col-sm-12 col-md-12- col-lg-12">
            <p>Desarrollada por Copelia, Vianey y Palmidia</p>
        </footer>
        </div>
    </div>

    <footer class="modal-footer">
      <p>Desarrollada por Copelia, Vianey, Palmidia</p>
    </footer>
  </div>



  <!-- Adding Firebase y Firestore -->
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <!--<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>-->


  <script src="../js/index.js"></script>
  <script src="../js/forgotPassword.js"></script>
</body>

</html>