<!DOCTYPE html>
<html lang="es">

<head>
    <title>GarnachApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 welcome">
                <div class="welcome-text">
                    <h1>¡BIENVENIDX A GARNACHAPP!</h1>
                    <p>Regístrate fácilmente</p>
                </div>
            </div>
        <div class="login-form col-sm-12 col-md-6 col-lg-6">
            <div id="imagen-welcome">
                <form>
                    <span class="login-title">
                        GARNACHAPP
                    </span>
                    <div>
                        <input id="name-field" class="input" type="text" placeholder="Nombre">
                    </div>
                    <div>
                        <input id="city-field" class="input" type="text" placeholder="Colonia">
                    </div>
                    <div>
                        <input id="email-field" class="input" type="text" placeholder="Correo">
                    </div>
                    <div>
                        <input id="password-field" class="input" type="password" placeholder="Contraseña">
                    </div>

                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Sube tu foto</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Selecciona</button>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button id="new-account-button" class="btn btn-warning">
                            REGÍSTRATE
                        </button>
                    </div>
                </form>
            </div>
         </div>
         <footer class="modal-footer col-sm-12 col-md-12- col-lg-12">
            <p>Desarrollada por Copelia, Vianey y Palmidia</p>
        </footer>
        </div>
    </div>



    <!-- Adding Firebase y Firestore -->
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>-->


    <script src="../js/index.js"></script>
    <script src="../js/newAccount.js"></script>
</body>

</html>