  body{
  margin:0 auto;
  padding: 0px;
  width: 100%;
}

.font-color{
  color: aliceblue;
}

/*==================Estilo de texto======================*/
.txt1,
.txt3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 550;
  color: whitesmoke;
}

.txt2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffc107;
}

.link-box,
.input-box {
  text-align: -webkit-center;
  padding-bottom: 80px;
}

.input-box {
  padding-top: 30px;
  align-items: center !important;
}
/*============Formulario=======================*/

.login-form {
  padding: 10px 68px 35px 35px;
  background-color: rgba(255, 94, 58, 0.95);
}

.login-title {
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 30px;
  padding-top: 20px;
}

/*-------------------Input-------------------*/

.input {
  margin: 10px;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-size: 18px;
  padding: 0 25px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color:  whitesmoke;

}

.btn-box {
  text-align: center !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

.input::placeholder{
  color: whitesmoke;
}

#register-button {
    text-align: center !important;
}

/*==================Imagen de Bienvenida=============*/


.welcome {
  background-color: rgba(255, 94, 58, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-image: url('../images/garnachaWelcome.jpg');
}

.no-margin {
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

.welcome-text{
  font-family: 'Bitter', serif;
  font-size: 18px;
  font-style: bold;
  color: whitesmoke;
  font-weight: 700;
  align-content: center;
  padding: 1em;
  }

 .modal-footer {
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: whitesmoke;
  padding-bottom: 5px;
 }

#post-section{
  background-color: whitesmoke;
}

.card-text {
  color: #000000;
  
}

.card-header {
  padding: 0.75rem 0;
}

/*.popover-body {
  
}*/

.no-btn{
  border: none;
  background-color: inherit;
}

/*.card-body {
  
}*/
.user-image {
  width: 20%;
  height: auto;
}
.text-area-publicacion {
  max-height: 150px;
  min-height: 50px;
  height: 80px;
  width: 100%;
}
